caption{
    text-align: center;
    caption-side: bottom;
}
th{
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    text-align: center;
}
td{
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-width: 2px;
}
tr:nth-of-type(2n+1){
    background-color: gainsboro;
}
tr:nth-of-type(1){
    background-color: gray;
}
tr:hover{
    background-color: chartreuse;
}


