body{
    height: 10000px;
}
.main{
    background-color: rgb(250, 215, 169);

}
.nav{
    width: 15em;
    background-color: rgb(250, 215, 169);
    float: left;
    height: 300px;
}
.article{
    margin-left: 15em;
    background-color: #abacac;
    margin-bottom: .2em;
    white-space: pre-wrap;
}
.footer{
    background-color: rgb(226, 135, 16);
    height: auto;
}
.clear{
    clear: both;
}
img{
    width: 100px;
    margin: 10px;
    float: right;
}

